# 定义环境变量

# 普通用户
NOTROOT_USER=

# php
PHP_VERSION=

# php 扩展是否启用
INSTALL_EXT_PHPREDIS=false
INSTALL_EXT_SWOOLE=false

# mysql
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# node
NODE_VERSION=

# phpmyadmin
# 可以连接任意服务器
PMA_ARBITRARY=1
PMA_HOST=mysql-db
PMA_PORT=3306
